
body{
    background-color: darkgrey;
}
.entry {
    background-color: black;
    color: white;
    text-align: center;
    display: block;
   
}
h1{
    background-color: darkred;
    text-align: center;
    display: block;
    
}
h2{
    background-color: crimson;
    text-align: center;
    display: block;
   
}
.container{
    width: 50%;
    margin: 0 auto;
}